<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>GEWOD</title>
	<script src="{{url_for('static', filename='bower_components/tracking/build/tracking.js')}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{url_for('static', filename='bower_components/mathjs/dist/math.js')}}" type="text/javascript" charset="utf-8"></script>
	<style>
		video, img, canvas {
		  margin-left: 230px;
		  margin-top: 120px;
		  position: absolute;
		}
		</style>
	</style>
</head>

<body>
<div id="demo-container">
	<img id="test_img" src="{{url_for('static', filename='test_img.jpg')}}" alt="" height="800;" width="900;">
	<!-- <video id="test_img" height="800" widht="900"></video> -->
	<canvas id="canvas" height="800" width="900" ></canvas>	
</div>


<script>

// Matrix is 4 rows x 2 columns
// All pads are the same size in pixels
// Pads are numbered 0 through 7
var numPadRows = 4;
var numPadCols = 2;
var padHeight = 10;
var padWidth = 10;

// x and y are coordinates of top-left corner
var pads = [
				[ {'x': 0, 'y': 0  }, {'x': 100, 'y': 0}   ],
				[ {'x': 0, 'y': 100}, {'x': 100, 'y': 100} ], 
				[ {'x': 0, 'y': 200}, {'x': 100, 'y': 200} ], 
				[ {'x': 0, 'y': 300}, {'x': 100, 'y': 300} ] 
			];

// Constructor
var MyTracker = function() {
	MyTracker.base(this, 'constructor');
}
tracking.inherits(MyTracker, tracking.Tracker);

var context = canvas.getContext('2d');

MyTracker.prototype.track = function(pixels, width, height) {

	// Create 3 arrays of R, G and B values
	// Each array is an image in the R, G, and B channel
	var R = []; var G = []; var B = [];
	var i = 0;
	while (i <= pixels.length) {
		R.push(pixels[i]); 
		G.push(pixels[i+1]); 
		B.push(pixels[i+2]);
		i += 4;
	}

	// Convert to mathjs matrix
	var R_mat = math.matrix(R);
	var G_mat = math.matrix(G);
	var B_mat = math.matrix(B);

	// Resize into matrix of 800x900 (rows x cols)
	R_mat.resize([800, 900]);
	G_mat.resize([800, 900]);
	B_mat.resize([800, 900]);

	for (var i = 0; i < numPadRows; i++) {
		for (var j = 0; j < numPadCols; j++) {
			var pad = pads[i][j];
			pads[i][j]['content'] = thereIsDropInPad(pad, R_mat, G_mat, B_mat);
		}
	}

	// Here we need to add results of drops
	var res = {};
	this.emit('track', {
		pads
	});
}

var tracker = new MyTracker();

tracker.on('track', function(res) {
	// MATRIX OF PADS HERE
	var pads = res['pads'];
	context.clearRect(0, 0, canvas.width, canvas.height);
	for (var i = 0; i < numPadRows; i++) {
		for (var j = 0; j < numPadCols; j++) {
			var pad = pads[i][j];
			context.strokeStyle = '#fa8000';
	 		// Here we need to hard code the rectangles
			context.strokeRect(pad['y'], pad['x'], padHeight, padWidth);
		}
	}
});

tracking.track('#test_img', tracker, {camera: true});


function thereIsDropInPad(pad, R, G, B) {	
	// Create sub-matrix for pad
	var y_range = [];
	var x_range = [];
	for (var i = pad['y']; i < pad['y'] + padHeight; i++) {
		y_range.push(i);
	}
	for (var i = pad['x']; i < pad['x'] + padWidth; i++) {
		x_range.push(i);
	}

	var R_sub = math.subset(R, math.index(y_range, x_range));
	var G_sub = math.subset(G, math.index(y_range, x_range));
	var B_sub = math.subset(B, math.index(y_range, x_range));

	// Get average value for each RGB channel
	var avg_R = math.mean(R_sub);
	var avg_G = math.mean(G_sub);
	var avg_B = math.mean(B_sub);

	// If RGB similar (within threshold) to bronze, then no drop.
	// Otherwise, drop

	// Values to determine if R is bronze
	// TODO: CALIBRATE VALUES
	var min_R = 200; var max_R = 210; 
	var min_G = 200; var max_G = 210; 
	var min_B = 200; var max_B = 210; 

	if (avg_R <= max_R && avg_R >= min_R && avg_B <= max_B && avg_B >= min_B && avg_B <= max_B && avg_B >= min_B)  {
		return true;
	} else {
		return false;
	}
}

</script>

</body>
</html>