<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>GEWOD</title>
	<script src="{{url_for('static', filename='bower_components/tracking/build/tracking.js')}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{url_for('static', filename='bower_components/mathjs/dist/math.js')}}" type="text/javascript" charset="utf-8"></script>
	<style>
		video, img, canvas {
		  margin-left: 230px;
		  margin-top: 120px;
		  position: absolute;
		}
		</style>
	</style>
</head>

<body>
<div id="demo-container">
	<img id="test_img" src="{{url_for('static', filename='test_img.jpg')}}" alt="" height="800;" width="900;">
	<!-- <video id="test_img" height="800" widht="900"></video> -->
	<canvas id="canvas" height="800" width="900" ></canvas>	
</div>


<script>	
// Constructor
var MyTracker = function() {
	MyTracker.base(this, 'constructor');
}
tracking.inherits(MyTracker, tracking.Tracker);

var context = canvas.getContext('2d');

MyTracker.prototype.track = function(pixels, width, height) {

	// Create 3 arrays of R, G and B values
	// Each array is an image in the R, G, and B channel
	var R = []; var G = []; var B = [];
	var i = 0;
	while (i <= pixels.length) {
		R.push(pixels[i]); G.push(pixels[i+1]); B.push(pixels[i+2]);
		i += 4;
	}


	// Convert to mathjs matrix
	var R_mat = math.matrix(R);
	var G_mat = math.matrix(G);
	var B_mat = math.matrix(B);

	// Resize into matrix of 800x900 (rows x cols)
	R_mat.resize([800, 900]);
	G_mat.resize([800, 900]);
	B_mat.resize([800, 900]);

	console.log(R_mat.size());
	// // Get sub-matrix
	// var R_sub = R_mat.subset(math.index([0, 100], [0, 100]));
	var R_sub = math.subset(R_mat, math.index([0, 100], [100, 100]));
	console.log(R_sub);

	// var mat = tracking.Matrix.constructor();
	// mat.pixels = pixels;
	// console.log(pixels);
	// console.log(pixels.length);
	// console.log(width);
	// console.log(height);
	// var mat = Array.from(pixels);
	// var mat = math.matrix(mat);
	// mat.resize([800, 900]);
	// console.log(mat);
	// Here we need to add results of drops
	var res = {};
	this.emit('track', {
		res
	});
}

var tracker = new MyTracker();

tracker.on('track', function(res) {
	// Results are inside the event
	context.clearRect(0, 0, canvas.width, canvas.height);
 	context.strokeStyle = '#fa8000';
 	// Here we need to hard code the rectangles
	context.strokeRect(10, 10, 100, 100);

});

tracking.track('#test_img', tracker, {camera: true});

</script>

</body>
</html>